body {
    background: rgb(54, 47, 47);
    }
h1{
    font-style: bold;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: brown;
}

h2{
    font-style: italic;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(116, 116, 180);
}
p {
    font-size: 20px;
    color: #AAAAAA;
    text-align: center;
    padding: 200px;
}