body {
    background: rgb(54, 47, 47);
    
}

p {
    font-size: 20px;
    color: #AAAAAA;
    text-align: center;
    margin-top: 10px;
    margin-left: 100px;
    margin-right:100px ;    
}

h1{
    font-style: bold;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: brown;
}

h2{
    font-style: italic;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgb(116, 116, 180);
}

h3{
    color: white;
    font-style: italic;
    text-align: center;
}

ul{
    color: white;
    text-align: left;
    margin-left: 45%;
    margin-right: 45%;
    
}

